# 目标构建版本
_targetBuild=""
# 目标分支，为空拉取最新主分支，例子： wine-10.15
_targetBranch=""

_applyPatch="true"
# applyPatch设置为true，那么目标补丁版本，如10.0集合或者10.15，如果为空直接通过源码目录VERSION文件获取
_targetPatchVer=""

# 本地源码路径
_localSrcPath=""

# 可选择的仓库地址，前提上一个选项为空否则使用本地
_arm64ecRepos=(
  "https://github.com/AndreRH/wine.git"
  "https://github.com/Waim908/wine-tkg-git-src.git"
)
# 如果不为空那么前面的仓库数组失效
_targetArm64ecRepo=""


# 如果设置为true跳过依赖安装
_doNotInstallDep="false"
# 跳过软件包交互界面适合无法交互的Cli环境，如果需要请修改export为unset
export DEBIAN_FRONTEND=noninteractive
# apt实际执行命令
_apt_exec () {
  #sudo apt-get install -y --no-install-recommends $@
  apt-get install -y --no-install-recommends $@
}
# 依赖
_ubuntuArm64ecDeps=(
    binutils-aarch64-linux-gnu gcc-aarch64-linux-gnu \
    ca-certificates nano python3 python3-setuptools clang screen llvm lld wget curl \
    flex bison nasm \
    libglib2.0-dev \
    libltdl-dev \
    libxcb1-dev \
    libx11-dev  \
    librsvg2-bin \
    git gettext make automake autoconf pkg-config libtool gtk-doc-tools clang \
    dpkg-dev \
    libglib2.0-dev:arm64 \
    libfreetype-dev:arm64 \
    libltdl-dev:arm64 \
    libxcb1-dev:arm64 \
    libx11-dev:arm64 \
    build-essential libc-dev-arm64-cross less libc-devtools libidn2-0:arm64 \
    libx11-dev libxinerama-dev libfreetype-dev libfontconfig-dev \
    cmake \
    libstdc++6-arm64-cross \
    libstdc++-13-dev-arm64-cross \
    libepoxy-dev:arm64 \
    libsdl2-dev:arm64 \
    ninja-build \
    dpkg-dev fakeroot debhelper dh-make \
    libxcursor-dev:arm64 \
    libxi-dev:arm64 \
    libxshmfence-dev:arm64 \
    libxxf86vm-dev:arm64 \
    libxrandr-dev:arm64 \
    libxrender-dev:arm64 \
    libxfixes-dev:arm64 \
    libxcomposite-dev:arm64 \
    libdbus-1-dev:arm64 \
    libsane-dev:arm64 \
    libusb-1.0-0-dev:arm64 \
    libv4l-dev:arm64 \
    libpulse-dev:arm64 \
    libgstreamer1.0-dev:arm64 \
    libgstreamer-plugins-base1.0-dev:arm64 \
    libudev-dev:arm64 \
    libunwind-dev:arm64 \
    libsdl2-dev:arm64 \
    libfontconfig1-dev:arm64 \
    libkrb5-dev:arm64 \
    libvulkan-dev:arm64 \
    libgl-dev:arm64 \
    libgnutls28-dev:arm64 \
    libcups2-dev:arm64 \
    libxkbcommon-dev:arm64 \
    libxkbregistry-dev:arm64 \
    libwayland-dev:arm64 \
    ocl-icd-opencl-dev:arm64 libavcodec-dev:arm64 libavutil-dev:arm64 libavformat-dev:arm64 libswresample-dev:arm64 locales
)

_useExtraCrossToolChain="true"
# 以上设置为true才会使用此路径交叉编译工具链
_crossToolChainPath="$HOME/llvm_mingw"

# prefix=$_outputPath/ <= bin lib share
_outputPath="/tmp/output-wine/"

# 构建参数
_arm64ecConfigureArgs=(
  --with-mingw=clang \
  --enable-archs=arm64ec,aarch64,i386 \
  --enable-tools \
  --disable-tests \
  --host=aarch64-linux-gnu \
  host_alias=aarch64-linux-gnu \
  build_alias=x86_64-linux-gnu \
  --with-wine-tools=amd64 \
  --disable-win16 --disable-tests --without-capi --without-coreaudio --without-cups --without-gphoto --without-osmesa --without-oss --without-pcap --without-pcsclite --without-sane --without-udev --without-unwind --without-usb --without-v4l2 --without-wayland --without-xinerama --without-piper \
  CC=aarch64-linux-gnu-gcc
)

# 编译变量
_ARM64_CC="aarch64-linux-gnu-gcc"
_ARM64_CFLAGS="-O3 -pipe -ftree-vectorize -march=armv8-a -mtune=generic -Wno-error=implicit-function-declaration -Wno-error=incompatible-pointer-types"
_ARM64_LDFLAGS="-Wl,--dynamic-linker=/data/data/com.winlator/files/imagefs/usr/lib/ld-linux-aarch64.so.1 -Wl,-rpath=/data/data/com.winlator/files/imagefs/usr/lib -Wl,--sort-common,--as-needed,-s"

